.git
.gitignore
.dockerignore
**/node_modules
**/venv
**/env
**/dist
**/*.db
**/*.sqlite3
**/*.zip
**/*.log
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.vscode
.idea
*.swp
*.swo
celerybeat-schedule*
**/celerybeat-schedule*
